body {
    background-color: #FAF9F6;
    color: black;
    margin: 0;
    font-family: "Roboto", sans-serif;
}



main {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1200px;
}

h1,
h2 {
    text-align: center;
    font-family: "Trispace", sans-serif;
}

h1 {
    font-size: 4rem;
    padding: 0 20px;
}

h2 {
    font-size: 3rem;
}

nav {
    padding: 10px 0;
    background-color: midnightblue;
    position: sticky;
    top: 0;
    width: 100%;
}

section {
    display: flex;
    scroll-margin-top: 70px;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

img {
    width: 100%;
    max-height: 600px;
    display: block;
    padding: 10px;
    margin: auto;
    object-fit: contain;
}

.navbar-container {
    padding: 0 20%;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    font-size: 1.5rem;
    padding: 3px 10px;
    color: whitesmoke;
    font-family: "Nanum Gothic", sans-serif;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.content-container {
    flex-basis: 50%;
    background-color: midnightblue;
    text-align: center;
    line-height: 30px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px gray;
    color: whitesmoke;
    box-sizing: border-box;
}

.content-container h2 {
    line-height: normal;
}

.separator {
    width: 3%;
}

.img-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px gray;
    border: solid;
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width:800px) {
    .navbar-container {
        flex-direction: column;
        padding: 0 1%;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 1000px) {
    section {
        flex-direction: column;
        scroll-margin-top: 180px;
    }

    section:nth-of-type(2n) {
        flex-direction: column-reverse;
    }

    .img-container {
        margin-bottom: 20px;
    }

    img {
        max-height: 450px;
    }
}